@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=EB+Garamond:wght@600&family=PT+Serif:wght@700&family=Playfair+Display:wght@500;600&family=Salsa&display=swap");

/* font-family: 'Bungee Spice', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Salsa', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(238, 241, 150);
  background: linear-gradient(
    90deg,
    rgba(238, 241, 150, 0.5963177507331057) 0%,
    rgba(246, 112, 15, 0.6439367983521533) 35%,
    rgba(247, 122, 122, 0.2545810560552346) 100%
  );
}
